*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Copilot / IDE data
.idea/codeStyleConfig.xml
.idea/copilot.*
.idea/codeStyles/*

# keystore files
*.jks
*.keystore
/keystore-base64.txt
/keystore.properties
